# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
      args: [--config=pyproject.toml]
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
    - id: blacken-docs
      alias: black
      additional_dependencies: [black==24.2.0]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      name: Run isort to sort imports in Python files
      files: \.py$|\.pyi$
      exclude: ^build/.*$|^\.tox/.*$|^venv/.*$
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      name: Run pydocstyle to check compliance with Python docstring conventions
      args:
      - --convention=pep257
      - --add-ignore=D100,D102,D103,D104,D105,D107,D202,D205,D400,D401
      exclude: |
        (?x)
        ^tests/.*\.py$|
      additional_dependencies: ['toml']
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    - id: codespell
      name: Run codespell to check for common misspellings in files
      entry: bash -c 'echo "If you think that this failure is an error, consider adding the word(s)
        to the codespell dictionary at docs/spelling_wordlist.txt.
        The word(s) should be in lowercase." && exec codespell "$@"' --
      language: python
      types: [text]
  - repo: local
    hooks:
      - id: markdownlint
        name: Run markdownlint to check the style of Markdown files
        description: Checks the style of Markdown files.
        entry: markdownlint
        language: node
        types: [markdown]
        files: \.(md|mdown|markdown)$
        additional_dependencies: ['markdownlint-cli']
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    - id: insert-license
      name: Add license for all Python and shell files
      exclude: ^\.github/.*$
      files: \.py$|\.pyi|\.bash$|\.sh$
      args:
      - --comment-style
      - "|#|"
      - --license-filepath
      - scripts/LICENSE.txt
      - --fuzzy-match-generates-todo
    - id: insert-license
      name: Add license for all rst files
      exclude: ^\.github/.*$
      args:
      - --comment-style
      - "||"
      - --license-filepath
      - scripts/LICENSE.rst
      - --fuzzy-match-generates-todo
      files: \.rst$
    - id: insert-license
      name: Add license for all YAML files
      exclude: ^\.github/.*$
      types: [yaml]
      files: \.yml$|\.yaml$
      args:
      - --comment-style
      - "|#|"
      - --license-filepath
      - scripts/LICENSE.txt
      - --fuzzy-match-generates-todo